## Logistic Regression

In [73]:
import pandas as pd
import numpy as np

In [74]:
data_preprocessed = pd.read_csv('F:/DATA SCIENCE/Absenteeism_preprocessed.csv')

In [75]:
data_preprocessed

,reason_0,reason_1,reason_2,reason_3,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day
0,0,0,0,1,289,36,33,239.554,30,1.0,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,1.0,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,1.0,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,1.0,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,1.0,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,1.0,2,0,8,5,2
696,1,0,0,0,225,26,28,237.656,24,1.0,1,2,3,5,2
697,1,0,0,0,330,16,28,237.656,25,1.0,0,0,8,5,3
698,0,0,0,1,235,16,32,237.656,25,NaN,0,0,2,5,3
699,0,0,0,1,291,31,40,237.656,25,1.0,1,1,2,5,3

In [76]:
data_preprocessed = data_preprocessed.dropna()

In [77]:
data_preprocessed.isnull().sum()

reason_0                     0
reason_1                     0
reason_2                     0
reason_3                     0
Transportation Expense       0
Distance to Work             0
Age                          0
Daily Work Load Average      0
Body Mass Index              0
Education                    0
Children                     0
Pets                         0
Absenteeism Time in Hours    0
Month                        0
Day                          0
dtype: int64

In [78]:
data_preprocessed

,reason_0,reason_1,reason_2,reason_3,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day
0,0,0,0,1,289,36,33,239.554,30,1.0,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,1.0,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,1.0,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,1.0,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,1.0,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,0,0,0,1,291,31,40,237.656,25,1.0,1,1,8,5,2
695,1,0,0,0,179,22,40,237.656,22,1.0,2,0,8,5,2
696,1,0,0,0,225,26,28,237.656,24,1.0,1,2,3,5,2
697,1,0,0,0,330,16,28,237.656,25,1.0,0,0,8,5,3
699,0,0,0,1,291,31,40,237.656,25,1.0,1,1,2,5,3

In [80]:
#data_preprocessed.drop([698],axis = 0)

## Create the targets

In [81]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [82]:
# if median is <= 3 then it is moderately absent and >= 4 then it is excessively absent.

In [83]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours']> 3,1,0)

In [84]:
"""targets = np.where(data_preprocessed['Absenteeism Time in Hours']>
                       data_preprocessed['Absenteeism Time in Hours'].median(),1,0)"""
#this is best method to find targets

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-84-e0f152943ac8>, line 3)

In [86]:
targets.shape

(627,)

In [87]:
data_preprocessed['Excessive absenteeism'] = targets
data_preprocessed

<ipython-input-87-e73299965e0a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_preprocessed['Excessive absenteeism'] = targets

,reason_0,reason_1,reason_2,reason_3,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day,Excessive absenteeism
0,0,0,0,1,289,36,33,239.554,30,1.0,2,1,4,7,1,1
1,0,0,0,0,118,13,50,239.554,31,1.0,1,0,0,7,1,0
2,0,0,0,1,179,51,38,239.554,31,1.0,0,0,2,7,2,0
3,1,0,0,0,279,5,39,239.554,24,1.0,2,0,4,7,3,1
4,0,0,0,1,289,36,33,239.554,30,1.0,2,1,2,7,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,0,0,0,1,291,31,40,237.656,25,1.0,1,1,8,5,2,1
695,1,0,0,0,179,22,40,237.656,22,1.0,2,0,8,5,2,1
696,1,0,0,0,225,26,28,237.656,24,1.0,1,2,3,5,2,0
697,1,0,0,0,330,16,28,237.656,25,1.0,0,0,8,5,3,1
699,0,0,0,1,291,31,40,237.656,25,1.0,1,1,2,5,3,0

In [89]:
targets.sum() / targets.shape[0]

0.4625199362041467

In [138]:
data_targets = data_preprocessed.drop(['Absenteeism Time in Hours','Day',
                                       'Distance to Work','Daily Work Load Average'], axis = 1)

In [139]:
data_targets is data_preprocessed

False

## Select the inputs for the Regression

In [140]:
data_targets.shape

(627, 12)

In [141]:
data_targets.iloc[:,0:11]
# Remove the column Excessive absenteeism
# data_taregts.iloc[:,:-1]

,reason_0,reason_1,reason_2,reason_3,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Month
0,0,0,0,1,289,33,30,1.0,2,1,7
1,0,0,0,0,118,50,31,1.0,1,0,7
2,0,0,0,1,179,38,31,1.0,0,0,7
3,1,0,0,0,279,39,24,1.0,2,0,7
4,0,0,0,1,289,33,30,1.0,2,1,7
...,...,...,...,...,...,...,...,...,...,...,...
694,0,0,0,1,291,40,25,1.0,1,1,5
695,1,0,0,0,179,40,22,1.0,2,0,5
696,1,0,0,0,225,28,24,1.0,1,2,5
697,1,0,0,0,330,28,25,1.0,0,0,5
699,0,0,0,1,291,40,25,1.0,1,1,5

In [142]:
unscaled_inputs = data_targets.iloc[:,0:11]

In [143]:
unscaled_inputs

,reason_0,reason_1,reason_2,reason_3,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Month
0,0,0,0,1,289,33,30,1.0,2,1,7
1,0,0,0,0,118,50,31,1.0,1,0,7
2,0,0,0,1,179,38,31,1.0,0,0,7
3,1,0,0,0,279,39,24,1.0,2,0,7
4,0,0,0,1,289,33,30,1.0,2,1,7
...,...,...,...,...,...,...,...,...,...,...,...
694,0,0,0,1,291,40,25,1.0,1,1,5
695,1,0,0,0,179,40,22,1.0,2,0,5
696,1,0,0,0,225,28,24,1.0,1,2,5
697,1,0,0,0,330,28,25,1.0,0,0,5
699,0,0,0,1,291,40,25,1.0,1,1,5

## Standardize the data

In [144]:
from sklearn.preprocessing import StandardScaler

In [187]:
absenteeism_scaler = StandardScaler()

In [146]:
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler()

In [147]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [148]:
scaled_inputs.shape

(627, 11)

In [149]:
scaled_inputs

array([[-0.56322899, -0.08965816, -0.31622777, ...,  0.78863884,
         0.22084015,  0.01771079],
       [-0.56322899, -0.08965816, -0.31622777, ..., -0.09278104,
        -0.60336684,  0.01771079],
       [-0.56322899, -0.08965816, -0.31622777, ..., -0.97420092,
        -0.60336684,  0.01771079],
       ...,
       [ 1.7754768 , -0.08965816, -0.31622777, ..., -0.09278104,
         1.04504715, -0.58254129],
       [ 1.7754768 , -0.08965816, -0.31622777, ..., -0.97420092,
        -0.60336684, -0.58254129],
       [-0.56322899, -0.08965816, -0.31622777, ..., -0.09278104,
         0.22084015, -0.58254129]])

## Split the Data

In [151]:
from sklearn.model_selection import train_test_split

In [152]:
x_train,x_test,y_train,y_test=train_test_split(scaled_inputs,targets,random_state = 20)

In [153]:
x_train.shape

(470, 11)

In [154]:
x_test.shape

(157, 11)

## Training the model

In [155]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [183]:
reg = LogisticRegression()

In [184]:
reg.fit(x_train,y_train)

LogisticRegression()

In [159]:
reg.score(x_train,y_train)

0.7829787234042553

## Manually check the Accuracy

In [160]:
model_outputs = reg.predict(x_train)
model_outputs

array([1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0])

In [161]:
y_train

array([1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0])

In [162]:
y_train is model_outputs   # y_train == model_outputs

False

In [163]:
np.sum(y_train == model_outputs)

368

In [164]:
model_outputs.shape

(470,)

In [165]:
acc = np.sum(y_train == model_outputs) / model_outputs.shape[0]
# it gives accuracy same as before.
acc

0.7829787234042553

## Finding the coefficient and accuracy

In [166]:
reg.intercept_

array([-0.20462281])

In [167]:
reg.coef_

array([[ 1.9556981 ,  0.58056953,  1.47951327,  1.17289328,  0.66369785,
        -0.29539939,  0.1439739 ,  0.        ,  0.35080627, -0.42949319,
        -0.10898065]])

In [168]:
scaled_inputs.columns.values
# this gives error,bcoz sklearn compatible with dataframe and ndarray also while using ML.

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [169]:
feature_name = unscaled_inputs.columns.values

In [170]:
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)

summary_table['Coefficient'] = np.transpose(reg.coef_)

summary_table

              Feature name  Coefficient
0                 reason_0     1.955698
1                 reason_1     0.580570
2                 reason_2     1.479513
3                 reason_3     1.172893
4   Transportation Expense     0.663698
5                      Age    -0.295399
6          Body Mass Index     0.143974
7                Education     0.000000
8                 Children     0.350806
9                     Pets    -0.429493
10                   Month    -0.108981

In [171]:
summary_table.index = summary_table.index + 1   # blank the 0th index
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -0.204623
1                 reason_0     1.955698
2                 reason_1     0.580570
3                 reason_2     1.479513
4                 reason_3     1.172893
5   Transportation Expense     0.663698
6                      Age    -0.295399
7          Body Mass Index     0.143974
8                Education     0.000000
9                 Children     0.350806
10                    Pets    -0.429493
11                   Month    -0.108981

## Interpreting the coefficients

In [172]:
summary_table['odd_ratio'] = np.exp(summary_table.Coefficient)  # exponantial of coefficient.
summary_table.sort_values('odd_ratio',ascending  = False)

              Feature name  Coefficient  odd_ratio
1                 reason_0     1.955698   7.068852
3                 reason_2     1.479513   4.390808
4                 reason_3     1.172893   3.231328
5   Transportation Expense     0.663698   1.941960
2                 reason_1     0.580570   1.787056
9                 Children     0.350806   1.420212
7          Body Mass Index     0.143974   1.154854
8                Education     0.000000   1.000000
11                   Month    -0.108981   0.896748
0                Intercept    -0.204623   0.814955
6                      Age    -0.295399   0.744234
10                    Pets    -0.429493   0.650839

In [173]:
# If coefficient value is far away to 0 and odd ratio is near to 1 then it is important.

In [174]:
# reason for absence and transportation expense,children and daily work load is mostly affect on the result.
# reason 0 is various diseases, 1 for pregency and giving birth, 2 for poising and 3 for light diseases.

In [175]:
# Backward Elimination = if P-value > 0.05 then it should be removed.
# But in sklearn, if the value of weights is low then we can remove it.

In [176]:
# go to the checkpoint where we created targets. And remove the features that should not affect our result.

## Testing the Data

In [179]:
reg.score(x_test,y_test)  # test accuracy is always less than the train accuracy.

0.7388535031847133

In [181]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.47701269, 0.52298731],
       [0.78685507, 0.21314493],
       [0.23451891, 0.76548109],
       [0.71707082, 0.28292918],
       [0.58730746, 0.41269254],
       [0.80284881, 0.19715119],
       [0.75814423, 0.24185577],
       [0.41318167, 0.58681833],
       [0.47324548, 0.52675452],
       [0.23451891, 0.76548109],
       [0.25154751, 0.74845249],
       [0.71038817, 0.28961183],
       [0.24242142, 0.75757858],
       [0.47143778, 0.52856222],
       [0.44522171, 0.55477829],
       [0.3749626 , 0.6250374 ],
       [0.18494659, 0.81505341],
       [0.71326935, 0.28673065],
       [0.779702  , 0.220298  ],
       [0.71038817, 0.28961183],
       [0.87604689, 0.12395311],
       [0.6490818 , 0.3509182 ],
       [0.73864011, 0.26135989],
       [0.87604689, 0.12395311],
       [0.19587549, 0.80412451],
       [0.47701269, 0.52298731],
       [0.13434887, 0.86565113],
       [0.18978365, 0.81021635],
       [0.52045713, 0.47954287],
       [0.26832802, 0.73167198],
       [0.66383275, 0.33616725],
       [0.03251899, 0.96748101],
       [0.67109227, 0.32890773],
       [0.62203935, 0.37796065],
       [0.9422108 , 0.0577892 ],
       [0.80531996, 0.19468004],
       [0.75107023, 0.24892977],
       [0.19077491, 0.80922509],
       [0.20004699, 0.79995301],
       [0.64481783, 0.35518217],
       [0.64295527, 0.35704473],
       [0.99027198, 0.00972802],
       [0.85311805, 0.14688195],
       [0.88404244, 0.11595756],
       [0.71707082, 0.28292918],
       [0.39041471, 0.60958529],
       [0.10402952, 0.89597048],
       [0.06360488, 0.93639512],
       [0.77282805, 0.22717195],
       [0.9721959 , 0.0278041 ],
       [0.76409087, 0.23590913],
       [0.68252938, 0.31747062],
       [0.40608988, 0.59391012],
       [0.75814423, 0.24185577],
       [0.60318601, 0.39681399],
       [0.74800234, 0.25199766],
       [0.90496731, 0.09503269],
       [0.65042822, 0.34957178],
       [0.70735771, 0.29264229],
       [0.39041471, 0.60958529],
       [0.76409087, 0.23590913],
       [0.65649502, 0.34350498],
       [0.8549254 , 0.1450746 ],
       [0.85311805, 0.14688195],
       [0.79228919, 0.20771081],
       [0.21736439, 0.78263561],
       [0.04054644, 0.95945356],
       [0.04339412, 0.95660588],
       [0.75411746, 0.24588254],
       [0.15092138, 0.84907862],
       [0.15092138, 0.84907862],
       [0.28802443, 0.71197557],
       [0.15501772, 0.84498228],
       [0.0509061 , 0.9490939 ],
       [0.76409087, 0.23590913],
       [0.59521184, 0.40478816],
       [0.75500949, 0.24499051],
       [0.1174691 , 0.8825309 ],
       [0.79762039, 0.20237961],
       [0.55886323, 0.44113677],
       [0.60306716, 0.39693284],
       [0.16444174, 0.83555826],
       [0.77567816, 0.22432184],
       [0.75209633, 0.24790367],
       [0.80284881, 0.19715119],
       [0.72225511, 0.27774489],
       [0.02169212, 0.97830788],
       [0.19077491, 0.80922509],
       [0.05071305, 0.94928695],
       [0.17050887, 0.82949113],
       [0.89274157, 0.10725843],
       [0.77567816, 0.22432184],
       [0.67239687, 0.32760313],
       [0.47701269, 0.52298731],
       [0.62630213, 0.37369787],
       [0.23386544, 0.76613456],
       [0.73654772, 0.26345228],
       [0.65649502, 0.34350498],
       [0.68780744, 0.31219256],
       [0.88956918, 0.11043082],
       [0.21736439, 0.78263561],
       [0.9491343 , 0.0508657 ],
       [0.35226247, 0.64773753],
       [0.65649502, 0.34350498],
       [0.62641834, 0.37358166],
       [0.21185166, 0.78814834],
       [0.68252938, 0.31747062],
       [0.42426184, 0.57573816],
       [0.13012394, 0.86987606],
       [0.98995178, 0.01004822],
       [0.62874078, 0.37125922],
       [0.47324548, 0.52675452],
       [0.18480525, 0.81519475],
       [0.74284525, 0.25715475],
       [0.75814423, 0.24185577],
       [0.75514167, 0.24485833],
       [0.77567816, 0.22432184],
       [0.75411746, 0.24588254],
       [0.93741773, 0.06258227],
       [0.26832802, 0.73167198],
       [0.76113887, 0.23886113],
       [0.66515178, 0.33484822],
       [0.2813639 , 0.7186361 ],
       [0.05800498, 0.94199502],
       [0.09245136, 0.90754864],
       [0.29125191, 0.70874809],
       [0.81299831, 0.18700169],
       [0.79228919, 0.20771081],
       [0.61431938, 0.38568062],
       [0.72365925, 0.27634075],
       [0.89978342, 0.10021658],
       [0.47959498, 0.52040502],
       [0.35226247, 0.64773753],
       [0.75814423, 0.24185577],
       [0.62641834, 0.37358166],
       [0.71564636, 0.28435364],
       [0.09494407, 0.90505593],
       [0.47276335, 0.52723665],
       [0.59521184, 0.40478816],
       [0.76409087, 0.23590913],
       [0.12544889, 0.87455111],
       [0.05416111, 0.94583889],
       [0.09245136, 0.90754864],
       [0.73654772, 0.26345228],
       [0.75209633, 0.24790367],
       [0.31621472, 0.68378528],
       [0.7417872 , 0.2582128 ],
       [0.76409087, 0.23590913],
       [0.03356392, 0.96643608],
       [0.74904354, 0.25095646],
       [0.35226247, 0.64773753],
       [0.87359844, 0.12640156],
       [0.03563539, 0.96436461],
       [0.44838988, 0.55161012],
       [0.28356703, 0.71643297],
       [0.40608988, 0.59391012],
       [0.29035468, 0.70964532]])

In [182]:
predicted_proba.shape

(157, 2)

## Save the Model

In [185]:
import pickle

In [186]:
with open('Model','wb') as file:
    pickle.dump(reg,file)

In [188]:
with open('scaler_file','wb') as file:
    pickle.dump(absenteeism_scaler,file)